<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    @!include('partials/header')

    <main style="display: flex; flex-direction: column;">
        <!-- Les triples accolades disent à Edge : ne pas échapper le HTML. -->
        {{{ content }}}
    </main>

    @!include('partials/footer')
</body>

</html>