<h1>Liste des parcours</h1>

@if(trails.length === 0)
<p>Aucun parcours disponible.</p>
@else
@each(trail in trails)
<ul class="trail">
    <li><a href="/trails/{{trail.id}}/enigmes/1">{{ trail.name }}</a></li>
</ul>
@endeach
@endif