body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

header {
    color: white !important;
    /* margin: 0.5rem; */
    background: #333;
    /* border-radius: 1rem; */
    /* padding: 0.25rem 1rem; */
}

main {
    padding: 3rem;
    min-height: 70vh;
    background: #f4f4f4;
}

footer {
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    background: #333;
    text-align: center;
    border-radius: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    padding: 0.5rem 1em;
    text-decoration: none;
    transition: border-color 0.3s ease;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

a.active {
    border-bottom: 2px solid white;
}